body {
	width: 21cm;
	font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
	color: #000;
	margin: 0 auto;
	font-size: 14px;
}
#container {
	padding: 20px;
	width: 21cm;
	margin: 0 auto;
	border: 1px solid black;
	font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
}
#clinic_address {
	text-align: center;
}
h3 {
	text-align: center;
}